.gray {
  background: #1c1e20;
  background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background-color: #2b2b2b;
}
.sky-blue {
  background-color: #dcedf1;
  background-image: radial-gradient(circle farthest-corner at center, #f7fbfc 0%, #add9e4 100%);
}
.beige-browm {
  background-color: #f7f3de;
  background-image: radial-gradient(circle farthest-corner at center, #ffffff 0%, #f7f2d3 100%);
}
.silver-blue {
  background-color: #dddddd;
  background-image: radial-gradient(circle farthest-corner at center, #ffffff 0%, #dddddd 100%);
}
.grey-blue {
  background-color: #313538;
  background-image: radial-gradient(circle farthest-corner at center, #555a5f 0%, #1c1e20 100%);
}
.mint-beige {
  background-color: #207c5f;
  background-image: radial-gradient(circle farthest-corner at center, #2aa57e 0%, #207c5f 100%);
}
.sea-yellow {
  background-color: #297477;
  background-image: linear-gradient(to bottom, #6cc9cd 0%, #297477 100%);
}
