#modals .share .modal-body {
  margin-left: 65px;
}
#modals .share .modal-body .btn {
  font-weight: normal;
  font-size: inherit;
  line-height: 1;
  outline: 0;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 8px 12px;
  transition: all 0.14s ease;
  padding: 12px 20px;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
#modals .share .modal-body input {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  height: auto;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-appearance: none;
}
#modals .share .modal-body .copy-link h3 {
  display: inline-block;
}
#modals .share .modal-body .email-detail .email-option {
  margin: 15px;
}
#modals .share .modal-body .email-detail .send {
  margin-left: 20%;
}
#modals .share .modal-body .email-detail .email-option-content {
  width: 100px;
  display: inline-block;
  font-size: 22px;
  color: #797979;
  text-align: right;
  padding-right: 25px;
}
#modals .share .modal-body .email-detail textarea {
  width: 50%;
  background-color: #fff;
  line-height: 1.4em;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  -webkit-appearance: none;
  overflow: auto;
  vertical-align: top;
  box-sizing: border-box;
}
