<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>云课件管理员中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="styles/admin/main.css">

    <script src="scripts/libs/jQuery.js"></script>
    <script src="slide_admin_module/main.js"></script>
  </head>
  <body>
    <div class="header">
      <span class="logo"></span>
      <div class="userInfo">
        <span>admin /</span>
        <span>
          <a href="/admin/login">退出</a>
        </span>
      </div>
    </div>   
    <div class="leftbar">
      <div class="mainselection">
        <ul>
          <li class="itemnow">
              <span class="listwords">课件管理</span>
          </li>
          <li >
              <span class="listwords">用户管理</span>
          </li>
          <li class="notice">
            <span class="listwords">系统通告</span>
          </li>
          <li>
            <span class="listwords">申请区</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="mainwrapper">
      <iframe src='/decklist' name="ff"></iframe>
    </div>
    <div class="footer">
      <span>北京领新教育</span>
    </div> 
  </body>
</html>